@import 'variables';

.navbar {
  color: $color-primary;
}

.text-main {
  color: $color-primary;
}

.text-sub {
  color: $color-secondary;
}

.text-variant {
  color: $color-variant;
}

.bg-main {
  background-color: $color-primary;
}

.bg-sub {
  background-color: $color-secondary;
}

.bg-variant {
  background-color: $color-variant;
}

.card-category {
  height: 250px;
  width: 250px;
  border-radius: 50px !important;
  background: #fff;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  transition: 0.5s;
}

.card-category:hover {
  transform: scale(1.05);
  background: $color-primary;
}

.card-category:hover .card-title {
  color: white;
}

.card-join {
  width: 250px;
  border: 5px solid white;
  font-size: 40px;
  color: white;
  font-weight: 500;
  text-align: center;
  background: $color-primary;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  transition: 0.5s;
}

.card-join:hover {
  transform: scale(1.05);
}

.card-step {
  height: 350px;
  width: 350px;
  border-radius: 50px !important;
  background: #fff;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  transition: 0.5s;
}

.card-step:hover {
  transform: scale(1.05);
  background: $color-primary;
}

.card-step:hover .card-title {
  color: white;
}
