<div class='row bg-dark mx-auto'>
  <div class='col-xl-2 col-sm-6 text-variant text-left mb-4 mt-4 ml-3'>
    <h5>Về chúng tôi</h5>
    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci velit</p>
  </div>
  <div class='col-xl-2 col-sm-6 text-variant text-left mb-4 mt-4 ml-3'>
    <h5>Chính sách</h5>
    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci velit</p>
  </div>
  <div class='col-xl-2 col-sm-6 text-variant text-left mb-4 mt-4 ml-3'>
    <h5>Liên lạc</h5>
    <p>HCMUS Newbies</p>
  </div>
</div>