<div class='row bg-dark'>
  <div class='col-xl-2 col-sm-6 text-success text-left mb-4 mt-4 ml-3'>
    <h5>About Us</h5>
    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci velit</p>
  </div>
  <div class='col-xl-2 col-sm-6 text-success text-left mb-4 mt-4 ml-3'>
    <h5>Policy</h5>
    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci velit</p>
  </div>
  <div class='col-xl-2 col-sm-6 text-success text-left mb-4 mt-4 ml-3'>
    <h5>Contact</h5>
    <p>HCMUS Newbies</p>
  </div>
</div>