<nav class='navbar navbar-expand-lg navbar-light bg-dark pt-3 pb-3'>
  <a class='navbar-brand text-success' href='#'>JOB BOARD</a>
  <button
    class='navbar-toggler'
    type='button'
    data-toggle='collapse'
    data-target='#navbarSupportedContent'
    aria-controls='navbarSupportedContent'
    aria-expanded='false'
    aria-label='Toggle navigation'
  >
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item active'>
        <a class='nav-link text-success' href='#'>Home
          <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item active'>
        <a class='nav-link text-success' href='#'>Explore
          <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item active'>
        <a class='nav-link text-success' href='#'>Post a job
          <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item active'>
        <a class='nav-link text-success' href='#'>About
          <span class='sr-only'>(current)</span></a>
      </li>
    </ul>

    <button
      type='button'
      class='btn btn-outline-success mr-3'
      style='width: 100px;'
    >Log In</button>

    <button
      type='button'
      class='btn btn-outline-success'
      style='width: 100px;'
    >Register</button>
  </div>
</nav>