<div class='row bg-variant justify-content-center'>
  <div
    class='col-12 text-light text-center justify-content-center mb-5 mt-5'
    style='font-size: 48px;'
  >
    Get your job
  </div>
</div>
<div class='container-fluid mt-5 mb-5'>
  <div class='row'>
    <div class='col-2'><div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>Card title</h5>
          <p class='card-text'>Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
        </div>
        <ul class='list-group list-group-flush'>
          <li class='list-group-item'>
            <h1>Job 1</h1>
          </li>
          <li class='list-group-item'>
            <h1>Job 2</h1>
          </li>
          <li class='list-group-item'>
            <h1>Job 3</h1>
          </li>
        </ul>
      </div>
    </div>
    <div class='col-10'>
      <div class='row'>
        <div class='d-flex justify-content-center'>
          <form class='w-50'>
            <div class='input-group input-group-lg'>
              <input
                class='form-control me-2'
                type='search'
                placeholder='Search'
                aria-label='Search'
              />
            </div>
          </form>
        </div>
      </div>
      <div class='card'>
        <ul class='list-group list-group-flush'>
          <li class='list-group-item'>
            <h1>Job 1</h1>
          </li>
          <li class='list-group-item'>
            <h1>Job 2</h1>
          </li>
          <li class='list-group-item'>
            <h1>Job 3</h1>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>