<div class='login-container bg-main'>
  <div class='login-card'><h1>Log In</h1><form id='login-form'>
      <div class='form-control'>
        <input id='username' type='text' placeholder='username' />
        <small></small>
        <span></span>
      </div>
      <div class='form-control'>
        <input id='password' type='password' placeholder='password' />
        <small></small>
        <span></span>
      </div>
      <button class='bg-variant' type='submit'>Log In</button>

      <div class='register-link'>Not a member?
        <a href='/register'>Register</a></div>
    </form>
  </div>
</div>