<div class='login-container bg-main'>
  <div class='login-card'><h1>Register</h1>
    <form id='register-form'>
      <div class='form-control'>
        <input id='username' type='text' placeholder='username' />
        <small></small>
        <span></span>
      </div>
      <div class='form-control'>
        <input id='email' type='email' placeholder='email' />
        <small></small>
        <span></span>
      </div>
      <div class='form-control'>
        <input id='password' type='password' placeholder='password' />
        <small></small>
        <span></span>
      </div>
      <div class='form-control'>
        <input
          id='confirm-password'
          type='password'
          placeholder='confirm password'
        />
        <small></small>
        <span></span>
      </div>
      <button class='bg-variant' type='submit'>Register</button>
    </form>
  </div>
</div>